* {
    box-sizing: border-box;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    margin: 35px;

  }
  .size {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
  }
  .numberSquares {
    height: 30px;
  }

  h1 {
    display: flex;
    justify-content: center;
  }
  .cell{
    border: 1px solid black;
  }
